@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.barra-topo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    width: 100%;
    height: 54px;
    position: fixed;
    top: 0;
    z-index: 1;
}
#barra-busca{
    border: 1px solid #DBDBDB;
    width: 215px;
    height: 28px;
}
#barra-busca::placeholder{
    text-align: center;
}

.container{
    width: 935px;
    height: 100%;
    margin: 88px auto 0 auto;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
}
.container-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories{
    display: flex;
    position: relative;
    height: 118px;
    width: 614px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
}

.container-posts{
    margin-top: 24px;
    height: 100%;
    width: 614px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;    
}

.post{
    width: 614px;
    margin: 0px 0px 60px 0px;
    height: 749px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
}

.topo{
    border: 1px solid black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}
.reticencias{
    font-size:20px;
}



.imagem{
    border: 1px solid red;
    height: 612px;
}

.baixo{
    border: 1px solid green;
    height: 72px;
    position: relative;
}

.lcs{
    font-size: 22px;
    margin: 10px; /*Revisar*/
}
.curtidas{
    display: flex;
    margin: 10px;
}
.save{
    position: absolute;
    right: 15px; /*Revisar Right e Top*/
    top: 10px;
    font-size: 22px;
}

.sidebar{
    width: 293px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.caixa-sugestoes{
    display: flex;
    flex-direction: column;
}

.header-sugestao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sugestao{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.perfil-sugerido{
    display: flex;
    align-items: center;
}

.imagem-perfil{
    margin: 5px;
}


.links{
    font-size: 11px;
    color: #c7c7c7;
}


